.idea
.DS_store
target/
*.jar
artifacts
!antchain-bridge-plugin-manager/**/plugin-testchain1-*-plugin.jar
!antchain-bridge-plugin-manager/**/plugin-testchain-*-plugin.jar
!plugin-demo/app/**/plugin-testchain1-*-plugin.jar
!plugin-demo/app/**/plugin-testchain-*-plugin.jar
antchain-bridge-sdk.tar.gz
**/abi
scripts/antchain-bridge-sdk/
scripts/contracts/
scripts/*.tar.gz