<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义控制台输出 -->
    <appender name="RESULT_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义文件输出 -->
    <appender name="PROCESS_LOGGER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFile</key>
            <defaultValue>app</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logFile}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${logFile}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- 定义其他输出 -->
    <appender name="OTHER_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>logs/other.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="resultLogger" level="info" additivity="false">
        <appender-ref ref="RESULT_LOGGER" />
    </logger>

    <logger name="processLogger" level="info" additivity="false">
        <appender-ref ref="PROCESS_LOGGER" />
    </logger>

    <root level="info">
        <appender-ref ref="OTHER_LOGGER" />
    </root>
<!--    <logger name="resultLogger" level="info" additivity="false">-->
<!--        <appender-ref ref="RESULT_LOGGER" />-->
<!--    </logger>-->

<!--    <logger name="processLogger" level="info" additivity="false">-->
<!--        <appender-ref ref="RESULT_LOGGER" /> &lt;!&ndash; 修改为 RESULT_LOGGER &ndash;&gt;-->
<!--    </logger>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="RESULT_LOGGER" /> &lt;!&ndash; 修改为 RESULT_LOGGER &ndash;&gt;-->
<!--    </root>-->

</configuration>